# Ignore PDF files
*.pdf

# Ignore LaTeX auxiliary files
*.aux
*.log
*.synctex.gz

# Ignore index and bibliography-related files
*.idx
*.ilg
*.ind

*.fls
*.toc
*.xdv
*.fdb_latexmk
*.synctex(busy)

# Ignore other files
GAMMALT/
kapitel_komponenten_1/